
    <div class="container-fluid">
        <div class="box mt-1 p-5">
          <h1>STUDENT LIST</h1>
          <a href="#" routerLink="/student/create/" style="float:right;" class="btn btn-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"class="bi bi-person-plus" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
          </svg>
          Add student</a>
        </div>
      
        </div>
    
      <table class="table table-striped">
        <tr>
         <!--<th>id</th>--> 
          
          <th>studentname</th>
          <th>email</th>
          <th width="140px">phonenumber</th>
          <th>age</th>
          <th width="110px">joineddate</th> 
          <th>gender</th>  
          <th width="290px">Action</th>
        </tr>
  
        
        <tr *ngFor="let student of students">
          
         
          <td>{{ student.studentname }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.phoneNumber }}</td>
          <td>{{ student.age }}</td>
          <td>{{ student.joinedDate }}</td>
          <td>{{ student.gender }}</td>   
          
        </tr>
      </table>